body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.alert
{
    margin-top: 10px;
}

.bg-img {
    background-image: url("Images/jumbo-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #40b8ff;
    padding-top: 200px;
    margin-top: 50px;
}

.navigator_default_main {
    margin-top: 50px;
    margin-bottom: 40px;
    overflow: hidden;
    margin-right: 17px;
}

.calendar_default_scroll_up {
    visibility: hidden;
}

.modal_default_main {
    margin-top: 20px;
}
