@{
    ViewBag.Title = "Home Page";
    if (this.User.Identity.IsAuthenticated)
    {
        if (this.User.IsInRole("Student"))
        {
            Layout = "~/Views/Shared/_LayoutStudent.cshtml";
        }
        if (this.User.IsInRole("Admin"))
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        if (this.User.IsInRole("Instructor"))
        {
            Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
        }
        if (this.User.IsInRole("Receptionist"))
        {
            Layout = "~/Views/Shared/_LayoutReceptionist.cshtml";
        }
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        var msg = "<p>You are not currently signed in, please login or register an account to make a booking</p>";
    }

}

    <div class="jumbotron bg-img">
        <h1>ACE Driving School</h1>
        <p class="lead">Welcome to ACE driving School, we offer car driving Lessons and Tests from 9AM - 8PM, Monday - Sunday</p>
        @{ 
            if (!this.User.Identity.IsAuthenticated)
            {
                @Html.Raw("<p>You are not currently signed in, please login or register an account to make a booking</p>");
            }
        }
    </div>

